:root {
    --main-color: rgb(147, 20, 147);
}
/*추상화를 해서 변수 지정을 하면 좀 더 편의성있고 일관적으로 적용가능함*/

div {
    width: 100px;
    height: 100px;
    background-color: rgb(98, 220, 147);
}
.box {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
.box:hover {
    width: 100px;
    height: 100px;
}
/*변수로 컬러의 값을 지정하는 경우*/
div > button {
    background-color: var(--main-color);
}