main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    gap: 5px;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: 25px;
}

.board-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.board-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(211,214,218);
    width: 60px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
}

@keyframes mainBoard {
    0% {
        transform: rotateX(0);
    } 50% {
        transform: rotateX(180deg);
    } 100% {
        transform: rotateX(0);
    }
}